<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://img.freepik.com/free-vector/software-engineer-statistician-visualizer-analyst-working-project-big-data-conference-big-data-presentation-data-science-concept_335657-1850.jpg"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="body-light text-danger text-center">Design</small>
          <small class="body-light text-sucess text-center ml-2"
            >Featured</small
          >
          <small class="body-light text-info text-center ml-2"
            >Views 100,102</small
          >
          <small class="body-light text-warning text-center ml-2"
            >Last Updated - SEP - 10, 2021</small
          >
          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae facilis aliquid maxime, explicabo praesentium dicta laudantium ducimus. Cupiditate, architecto quod facilis esse nostrum adipisci optio mollitia expedita repudiandae, veritatis suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis iste suscipit laboriosam delectus rem quasi, accusantium possimus odit illo, beatae laborum veritatis blanditiis impedit, vero rerum eveniet soluta praesentium! Perspiciatis?
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
      <div class="col-md-3">
        <app-post-cart></app-post-cart>
        <app-post-cart></app-post-cart>
      </div>
    </div>
  </div>
</div>
